.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .welcome-box {
    background: rgba(255, 255, 255, 0.65);
    color: #1a1616;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    margin-bottom: 100px;
    transition: box-shadow 0.3s ease; 
  }
  
  .welcome-box:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
  }
  .user-info {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  